#footer {
  background-color: #000000;
  color: #F7F7F7;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top:200px;
}

.footer-content {
  margin: 0 auto;
}

.footer-links {
  margin-top: 10px;
}

#prp, #about {
  color: #F7F7F7;
  text-decoration: none;
  margin: 0 10px;
}

#prp:hover, #about:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {


}