@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  margin: 0;
  height: 100%;
}

#root, .App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

body {
  background-color: #000000;
  font-family: "Inconsolata", monospace;
  overflow-x: hidden;
}

#intro {
  margin-top: 0;
  background: rgb(200,130,255);
  background: linear-gradient(90deg, rgba(200,130,255,1) 0%, rgba(84,184,255,1) 4%, rgba(31,55,107,1) 72%, rgba(0,0,0,1) 100%);  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
  
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
}

#title-logo-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#title-area {
  flex: 1;
  text-align: left;
  margin-left: 10%;
  margin-top:8%;
}

#title {
  font-size: 7.5rem;
  color: #F7F7F7;
}

#logo-area {
  flex: 1;
  text-align: right;
  margin-right: 5%;
  margin-top:8%;

}

#logo {
  width: 700px;
  border-radius: 25%;
  height: auto;
}

.right, #rightAbout {
  display: flex;
  justify-content: center;
}

.loading-text {
  color: aliceblue;
}

.subtitle {
  margin-top: 15px;
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .15rem;
  position: relative;
  color: white;
}

/* Stili del bottone */
#button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 100%;
}

.arrow-button {
  display: flex;
  padding: 10px 16px;
  border-radius: 25px;
  border: none;
  transition: all .3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: #82cbff;
}

.arrow-button:hover {
  background-color: black;
}

.arrow-button > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #C2FFE9;
  border-bottom: 2px solid #C2FFE9;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all .3s ease;
}

.arrow-button > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

.arrow-button:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
  opacity: 1;
  width: 8px;
}

.arrow-button:hover {
  color: #F7F7F7;
}

#about-area {
  background-color: #000000;
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color:#F7F7F7;
}

.card {
  width: 65%;
  border-radius: 50px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

h2 {
  color: #F7F7F7;
}

.info-text {
  color: white;
  text-align: center;
  font-family: Roboto;
}

#wapa-title {
  margin-top: 5%;
  font-size: 2.5rem;
}

#things {
  margin-top: 20px;
}

#list ul {
  padding-left: 20px;
}

#list li {
  color: black;
  margin-bottom: 10px;
}

#big-text {
  margin-top: -60px;
  font-size: 10rem;
  color:#F7F7F7;
}

#small-text1 {
  margin-top: 100px;
  color:#F7F7F7;
}

#small-text2 {
  margin-top: -140px;
  color:#F7F7F7;
}

.text-animations {
  display: inline-block;
  margin: 0 0.5rem;
  animation: zoomInUp;
  animation-duration: 0.5s;
}

#about, #list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-box {
  border-radius: 25px;
  background: rgb(84,184,255);
  background: linear-gradient(90deg, rgba(84,184,255,1) 2%, rgba(31,55,107,1) 72%, rgba(0,0,0,1) 100%);  margin: 5%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  height: 450px;
  font-family: "Roboto";
}

.info-box-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-box-test {
  font-size: 3rem;
  text-align: center;
  margin-top: 15px;
  color:#f7f7f7;
}

.info {
  font-size: 1.5rem;
  margin-left: 5%;
  color:#f7f7f7;
}

.info-img {
  width: 450px;
  height: 550px;
}

.planet-area {
  width: 22rem;
}

#call-to-action-area {
  width: 100%;
  height: 800px;
  text-align: center;
  background: rgb(84,184,255);
  background: linear-gradient(90deg, rgba(84,184,255,1) 2%, rgba(31,55,107,1) 72%, rgba(0,0,0,1) 100%);  margin: 5%;
  color: white;
}

#call-to-action-text {
  font-size: 5rem;
  color: white;
  margin-top: 10%;
}

#call-to-action-text2 {
  font-size: 2.5rem;
  text-align:center;
  margin-left:10%;
  margin-right:10%;
  color: white;
}

#call-to-action-btn {
  background-color: #ff9425;
  width: 16rem;
  height: 5rem;
  border-radius: 25px;
  font-size: 3rem;
  margin-top: 60px;
}

/* MEDIA QUERY FOR LARGE SCREENS (DESKTOP) */
@media (min-width: 1200px) {
  #title {
    font-size: 7.5rem;
  }
  
  #logo {
    width: 700px;
  }

  .arrow-button {
    width: 150px;
    height: 60px;
    font-size: 1.5rem;
    background-color: #82cbff;
  }
  
  .info-box {
    width: 85%;
    height: 650px;
  }
  
  .info-img {
    width: 65%;
    margin-top:-10%;
  }
  
  .info-box-test {
    font-size: 4.5rem;
  }
  
  .info {
    font-size: 1.7rem;
    margin-left: 25px;
  }
}

/* MEDIA QUERY FOR MEDIUM SCREENS (TABLETS) */
@media (max-width: 1199px) and (min-width: 768px) {
  #title {
    font-size: 6rem;
  }
  
  #logo {
    width: 500px;
  }
  
  .arrow-button {
    width: 130px;
    height: 50px;
    font-size: 1.3rem;
  }
  
  .info-box {
    width: 90%;
    height: 550px;
    flex-direction: column;
  }
  
  .info-img {
    width: 100%;
    height: auto;
  }
  
  .info-box-test {
    font-size: 3.5rem;
  }
  
  .info {
    font-size: 1.4rem;
  }
}

/* MEDIA QUERY MOBILE*/
@media (max-width: 767px) {
  #intro {
    height: auto;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    height:100vh;
  }
  
  #title-logo-container {
    flex-direction: column-reverse; /* Cambia l'ordine degli elementi */
    align-items: center;
  }

  #title-area {
    width: 100%;
    margin: 0 auto;
    margin-top: -5%;
    text-align: left; 
    margin-left:15%;
  }
  
  #title {
    font-size: 4.5rem;
    line-height: 1.1;
    margin: 0;
    width: 90%; 
  }
  
  #logo-area {
    margin-left:0;
  }
  
  #logo {
    width: 350px;
  }
  
  .arrow-button {
    width: 100%;
    max-width: 200px;
    height: 50px;
    font-size: 1.2rem;
    margin-top: 20px;
    color:#000000;
  }

  #about-area {
    padding: 10px;
  }
  
  #wapa-title {
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
  }
  
  #small-text1, #small-text2 {
    font-size: 1rem;
    text-align: center;
  }
  #small-text2{
    margin-top:-70px;
  }
  #big-text{
    font-size:6rem;
    margin-top:-25px;
  }

  .info-box {
    padding: 10px;
    height: auto;
    margin-left:0;
    width:90%;
  }
  
  .info-box-test {
    font-size: 2rem;
    margin-top:35%;
  }
  
  .info {
    font-size: 1rem;
  }

  .info-img {
    width: 100%;
    height:45%;
    margin-top:65%;
  }
  #call-to-action-area{
    height:550px;
    margin-left:0;
  }
  #call-to-action-text {
    font-size: 2.5rem;
  }
  
  #call-to-action-text2 {
    font-size: 1.5rem;
  }
  
  #call-to-action-btn {
    width: 80%;
    max-width: 200px;
    height: 50px;
    font-size: 1.5rem;
    margin: 20px auto;
  }
}

/* MEDIA QUERY PER SCHERMI MOLTO PICCOLI */
@media (max-width: 490px) {
  #intro {
    height: 100vh;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(90deg, rgba(200,130,255,1) 0%, rgba(84,184,255,1) 4%, rgba(31,55,107,1) 72%, rgba(0,0,0,1) 100%);
  }
  
  #title-logo-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  #title-area {
    width: 100%;
    margin: 0 auto;
    margin-top: -50px;
    text-align: center; 
  }
  
  #title {
    font-size: 4.5rem; 
    text-align:left;
    line-height: 1.2;
    margin: 0;
    width: 100%; 
    margin-left:5%;
  }
  
  #logo-area {
    margin-left: 0;
    margin-top:20%;
  }
  
  #logo {
    width: 350px;
  }
  
  .arrow-button {
    width: 100%;
    max-width: 180px;
    height: 45px; 
    font-size: 1.1rem;
    margin-top: 15px;
    color: #000000;
  }

  #about-area {
    padding: 10px;
  }
  
  #wapa-title {
    margin-top: 15px;
    font-size: 1.8rem; 
    text-align: center;
  }
  #small-text2{
    margin-top:-35px;
  }
  #small-text1, #small-text2 {
    font-size: 0.9rem; 
    text-align: center;
  }
  #small-text1{
    margin-top:15px;
  }
  
  #big-text {
    font-size: 4rem; 
    margin-top: -10px; 
  }

  .info-box {
    padding: 10px;
    height: auto;
    margin-left: 0;
    width: 95%; 
  }
  
  .info-box-test {
    font-size: 1.8rem; 
    margin-top: 30%;
  }
  
  .info {
    font-size: 0.9rem; 
  }

  .info-img {
    width: 100%;
    height: 45%; 
    margin-top: 55%; 
  }
  
  #call-to-action-area {
    height: 400px; 
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  
  #call-to-action-text {
    font-size: 1.8rem;
    margin-top: 5%;
  }
  
  #call-to-action-text2 {
    font-size: 1.2rem; 
    margin: 10px 0;
  }
  
  #call-to-action-btn {
    width: 80%;
    max-width: 160px;
    height: 45px; 
    font-size: 1.2rem; 
    margin: 10px auto;
  }
}
