* {
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
    font-family: "Inconsolata", monospace;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;
}


#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#weather-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sub-box{
    background-color: #F7F7F7;
    border-radius: 25px;
    width:100px;   
    height:auto;
    text-align: center;
    justify-content: center;
}
.sub-box-title{
    color:#000000;
    margin-top:5px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.container-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0;
}

.mini-container {
    flex: 1;
    height: 390px;
}

#meteo-title {
    margin-top: 10%;
}

h1 {
    font-size: 6.5em;
    word-break: break-word;
}

.title {
    margin-top: -50px;
    color: #F7F7F7;
}

.meteo-title, .meteo-subtitle {
    color: #F7F7F7;
    text-shadow: 5px 5px 5px #dedede;

}

.sub-title {
    color: #F7F7F7;
    margin-top: -10px;
}

#action-area {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2%;
    width: 100%;
}

.btn-go {
    position: relative;
    display: inline-block;
    border: none;
    border-radius: 25px;
    opacity: 80%;
    font-family: "Inconsolata", monospace;
    font-size: 1rem;
    padding: 1rem 2rem;
    overflow: hidden;
    text-decoration: none;
    transition: color 0.4s, border-color 0.4s, transform 0.2s ease-in-out;
    z-index: 1;
    color: black;
}

.btn-go::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #47BFFF;
    border-radius: 3rem;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: -1;
}

.btn-go:hover::after {
    transform: translateX(0);
}

.btn-go:hover {
    color: black;
    border-color: #47BFFF;
    transform: scale(1.05);
}

/*------------------------------------------Meteo area boxs-------------------------------------------*/
.today-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    border-radius: 25px;
    margin-top: 35px;
}

.charts-container {
    display: flex;
    flex-wrap: wrap; /* Modifica da row a wrap per la responsività */
    justify-content: center; /* Centro orizzontalmente */
    gap: 25px;
    background-color: #000000;
    border-radius: 25px;
    padding: 20px;
    width: 90%;
    margin-left: 0;
    margin-top: 1%;
}

.charts {
    display: flex; /* Aggiungi per centrare il contenuto */
    justify-content: center; /* Centro orizzontalmente */
    align-items: center; /* Centro verticalmente */
    width: 20rem; /* Imposta una larghezza fissa per i grafici */
    height: 20rem; /* Imposta un'altezza fissa per i grafici */
    margin: 0 auto; /* Centro orizzontalmente */
}

.light-chart {
    display: flex; /* Aggiungi per centrare il contenuto */
    justify-content: center; /* Centro orizzontalmente */
    align-items: center; /* Centro verticalmente */
    width: 20rem; /* Imposta una larghezza fissa per i grafici */
    height: 20rem; /* Imposta un'altezza fissa per i grafici */
    margin: 0 auto; /* Centro orizzontalmente */
}

.meteo-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    border-radius: 25px;
    padding: 20px;
    width: 90%;
    margin-top: 25px;
    color: #000000;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-top: 15px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #47BFFF;
    text-align: center;
    line-height: 20px;
    color: white;
    font-size: 12px;
    transition: width 0.3s ease;
}

.data-boxes {
    flex: 1 0 40%;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.5em;
    background-color: #F7F7F7;
}
.MeteoCharts {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

#tempChart{
    display:block;
    visibility: hidden;
}

/*-------------------------------RESPONSIVE-------------------------------------*/
@media (max-width: 1200px) {
    #meteo-title {
        width: 100%;
        text-align: left;
        margin: 0;
        font-size: 0.9rem;
        margin-left: 5%;
        margin-top: 15%;
    }

    #weather-intro {
        padding: 10px;
        box-sizing: border-box;
    }

    .meteo-box-container {
        width: 98%;
        margin-left: 0;
    }

    .charts-container {
        width: 97%;
        margin-top: 2%;
        margin-left: 0;
    }

    .charts {
        width: 18rem;
        height: 18rem;
    }

    .light-chart {
        width: 18rem;
        height: 18rem;
    }
}
@media (max-width: 1024px) and (min-width:768) {
    h1 {
        margin-left: 25%;
    }
}

@media (max-width: 992px) {
    #meteo-title {
        text-align: left;
        margin: 0;
        font-size: 0.8rem;
        margin-top: 20%;
    }

    #weather-intro {
        padding: 10px;
        box-sizing: border-box;
    }

    .meteo-box-container {
        width: 97%;
    }

    .charts-container {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        margin-top: 3%;
    }

    .charts {
        width: 15rem;
        height: 15rem;
    }

    .light-chart {
        width: 15rem;
        height: 15rem;
    }
}

@media (max-width: 768px) {
    #weather-intro {
        width: 100%;
    }

    .charts-container {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .charts {
        width: 300px;
        height: 300px;
    }

    .data-boxes {
        padding: 10px;
        font-size: 1em;
    }

    .meteo-box-container {
        width: 95%;
    }

    #meteo-title {
        margin-left: 20%;
        font-size: 0.7rem;
    }

    .light-chart {
        width: 300px;
        height: 300px;
    }
    .MeteoCharts {
        padding: 5px;
    }

    .echarts-for-react {
        height: 15rem;
        width: 15rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 3.5em;
    }

    .mini-container {
        height: auto;
    }

    .meteo-box-container, .charts-container {
        padding: 10px;
    }

    .charts {
        width: 100%;
        height: auto;
    }

    #meteo-title {
        margin-left: 0;
        margin-top:45%;

    }

    .meteo-title{ 
        font-size: 3rem;
    }

    .data-boxes {
        font-size: 0.9em;
        padding: 5px;
    }
    .MeteoCharts {
        padding: 2px;
    }

    .echarts-for-react {
        height: 10rem;
        width: 10rem;
    }
    #tempChart{
        visibility: hidden;
        display: block;
    }
    
}

@media (max-width: 391px) {
    #meteo-title {
        margin-left:0;
        margin-top: 35%;
    
    }
    .meteo-title{
        font-size:2.7rem;

    }
    .meteo-subtitle
    {
        font-size:1rem;
    }
    #tempChart{
        visibility: hidden;
        display: block;
    }
    
  }

  @media (max-width: 361px) {
    #meteo-title {
        margin-left:30%;
        margin-top: 25%;
    
    }
    .meteo-title{
        font-size:2.5rem;

    }
    .meteo-subtitle
    {
        font-size:1rem;
    }
    #tempChart{
        display: block;
        visibility: hidden;
    }
    

  }