@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

/* Stili di base */
* {
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
    font-family: "Inconsolata", monospace;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#weather-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.container-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0;

}

.mini-container {
    flex: 1;
    height: 390px;
}

#meteo-title {
    margin-top: 20%;
    margin-left: 10%;

}

h1 {

    font-size: 6.5em;
    word-break: break-word;
}

.title {
    margin-top: -50px;
    color: #F7F7F7;
}

.sub-title {
    color: #F7F7F7;
    margin-top: -10px;
}

#action-area {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2%;
    width: 100%;
}

.btn-go {
    position: relative;
    display: inline-block;
    border: none;
    border-radius: 25px;
    opacity: 80%;
    font-family: "Inconsolata", monospace;
    font-size: 1rem;
    padding: 1rem 2rem;
    overflow: hidden;
    text-decoration: none;
    transition: color 0.4s, border-color 0.4s, transform 0.2s ease-in-out;
    z-index: 1;
    color: black;
}

.btn-go::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #47BFFF;
    border-radius: 3rem;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: -1;
}

.btn-go:hover::after {
    transform: translateX(0);
}

.btn-go:hover {
    color: black;
    border-color: #47BFFF;
    transform: scale(1.05);
}



/*------------------------------------------Meteo area boxs-------------------------------------------*/
.today-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    border-radius: 25px;
    margin-top: 35px;
}

.charts-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    background-color: #000000;
    border-radius: 25px;
    padding: 20px;
    width: 90%;

}

.charts {
    margin-top: 2%;
}

.light-chart {
    margin-top: 5%;
    margin-left: 30%;
}

#c1 {
    margin-left: 21%;
}

.meteo-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    background-color: #000000;
    border-radius: 25px;
    padding: 20px;
    width: 90%;
    margin-top: 25px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-top: 15px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    text-align: center;
    line-height: 20px;
    color: white;
    font-size: 12px;
    transition: width 0.3s ease;
}


.data-boxes {
    flex: 1 0 40%;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.5em;
    background-color: #F7F7F7;
}

/*----------------------------FORECAST------------*/
.forecast-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 200px;
    max-width: 300px;
    margin: 0 auto;
}

.forecast-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.date {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.temp {
    font-size: 1.2rem;
    color: #666;
    margin-top: 10px;
    text-align: center;
    margin-top: 10%;
}

.weatherIcon {
    margin-left: 36%;
    margin-top: 10%;
}

.slick-prev,
.slick-next {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 2;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slick-prev:before,
.slick-next:before {
    font-size: 24px;
    color: white;
}

.slick-dots li button:before {
    font-size: 16px;
    color: #333;
}

.slick-dots li.slick-active button:before {
    color: #000;
}


/*--------------------------------------------WeatherMap-----------------------------------------------*/
.map-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5%;
    margin-left: 8%;
    padding: 20px;
    width: 100%;
    color: #F7F7F7;
}

.weather-map {
    width: 75%;
    height: 400px;
    border-radius: 25px;
}

.weather-map-area {
    width: 65%;
    height: 400px;
    border-radius: 25px;

}

.map-title {
    font-size: 3rem;
    color: #000000;
}

#m3 {
    margin-top: 0;
}

/*-------------------------------RESPONSIVE-------------------------------------*/
@media (max-width: 1200px) {
    #meteo-title {
        width: 100%;
        text-align: left;
        margin: 0;
        font-size: 0.9rem;
        margin-left: 5%;
        margin-top: 15%;
    }

    #weather-intro {
        padding: 10px;
        box-sizing: border-box;
    }

    .container-1 .icon {
        position: absolute;
        left: 17px;
        z-index: 1;
    }


    .meteo-box-container {
        width: 97%;
    }

    .forecast-container {
        width: 95%;
        margin-left: 2.5%;
    }

    .forecast-item {
        width: 10%;
    }

    .charts-container {
        width: 95%;
    }

    .charts {
        width: 18rem;
        height: 18rem;
        margin-left: 90px;
    }

    #c1 {
        margin-left: -15px;
    }


    .map-title {
        font-size: 2rem;
    }

    .light-chart {
        margin-left: 20%;

    }
}

@media (max-width: 992px) {
    #meteo-title {
        width: 100%;
        text-align: left;
        margin: 0;
        font-size: 0.8rem;
        margin-left: 15%;
        margin-top: 20%;
    }

    #weather-intro {
        padding: 10px;
        box-sizing: border-box;
    }

    .meteo-box-container {
        width: 97%;
    }

    .forecast-container {
        width: 92%;
        margin-left: 4%;
    }

    .forecast-item {
        width: 12.5%;
    }

    .forecast-item .meteo-icon {
        font-size: 0.5rem !important;
        /*solo se necessario*/
    }

    .forecast-item .date {
        font-size: 0.8rem;
    }

    .charts-container {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        background-color: #000000;
        border-radius: 25px;
        padding: 20px;
    }

    .charts {
        flex: 1 1 calc(33.333% - 40px);
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .light-chart {
        margin-left: 10%;
    }

    .map-section {
        flex-direction: column;
        margin-left: 33.5%;
    }

    .weather-map {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }

    .map-title {
        font-size: 2rem;
    }

}

@media (max-width: 768px) {
    #weather-intro {
        width: 100%;
    }

    .charts-container {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .charts {
        margin-bottom: -20px;
        width: 300px;
    }

    .data-boxes {
        padding: 10px;
        font-size: 1em;
    }

    .forecast-container {
        width: 60%;
        margin-left: 20%;
    }

    .forecast-item {
        width: 8%;
        flex: 0 0 auto;
    }

    .date {
        font-size: 0.1rem;
    }

    .meteo-box-container {
        width: 95%;
    }

    #meteo-title {
        margin-left: 20%;
        font-size: 0.7rem;
    }

    .light-chart {
        margin-left: -4%;
    }

    #sunset,
    #sunrise {
        width: 25%;
    }

    .map-section {
        flex-direction: column;
        margin-left: 35%;
    }

    .weather-map {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }


}

@media (min-width: 1200px) {
    #meteo-title {
        font-size: 0.8rem;
    }

    #c1 {
        margin-left: 12.5%;
    }

    .light-chart {
        margin-left: 25%;
    }

    .forecast-container {
        margin-left: 6%;
    }

    .forecast-item {
        margin-left: 7%;
    }

    .temp{
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    #meteo-title {
        margin-left: 28%;
        margin-top: 20%;
        font-size: 0.5rem;
    }

    .container-1 {
        width: 65%;
        height: 25px;
        margin-left: 8%;
    }

    #search-location::placeholder {
        font-size: 1.5rem;
    }

    .icon {
        top: 40px;
        margin-left: 40px;
    }

    #search-location {
        margin-top: 10%;
        margin-left: 15%;
    }

    .forecast-container {
        width: 46%;
        margin-left: 27%;
    }

    .forecast-item {
        width: 8%;
        flex: 0 0 auto;
    }

    .date {
        font-size: 18px;
        font-weight: bold;
    }

    .meteo-icon {
        font-size: 48px;
        margin-top: 10px;
    }

    .temp {
        font-size: 16px;
    }


    .charts-container {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .charts {
        margin-bottom: -20px;
        width: 300px;
    }

    .data-boxes {
        padding: 10px;
        font-size: 0.9em;
    }

    .meteo-box-container {
        width: 95%;
    }

    .date {
        font-size: 0.1rem;
    }

    #sunrise,
    #sunset {
        width: 65%;
    }

    .light-chart {
        margin-left: 15%;
    }

    .map-section {
        flex-direction: column;
        margin-left: 15%;
        gap: 20px;
    }

    .weather-map {
        width: 85%;
        height: 350px;
        margin-bottom: 10%;
    }

    .weather-map-area {
        width: 100%;
        margin-bottom: 10%;
    }

    .map-title {
        margin-top: 15%;
    }
}

@media (max-width: 481px) {
    h1 {
        font-size: 2.7rem;
    }

    #meteo-title {
        margin-left: 35%;
    }

    .sub-title {
        font-size: 1rem;
    }

    .today-data {
        margin-top: 20px;
    }

    .charts-container,
    .meteo-box-container {
        padding: 10px;
    }

    .data-boxes {
        font-size: 1rem;
    }

    .forecast-container {
        margin-left: 36.5%;
        width: 27%;
    }

    .forecast-item {
        padding: 10px;
        height: auto;
    }

    .date {
        font-size: 1rem;
    }

    .temp {
        font-size: 0.875rem;
    }

    .weatherIcon {
        margin-left: 35%;
        margin-top: 5%;
    }

    .slick-prev,
    .slick-next {
        width: 30px;
        height: 30px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 20px;
    }

    .map-section {
        padding: 10px;
    }

    .weather-map,
    .weather-map-area {
        height: 200px;
    }

    .map-title {
        font-size: 1.5rem;
    }

    .btn-go {
        font-size: 0.75rem;
        padding: 0.5rem 1rem;
    }

    .forecast-container {
        padding: 10px;
    }

    .progress {
        font-size: 8px;
    }

    .container {
        padding: 10px;
    }

    #search-location::placeholder {
        font-size: 1rem;

    }

    .today-data,
    .charts-container,
    .meteo-box-container {
        padding: 10px;
    }

    .light-chart {
        margin-left: 1%;
    }

}