.neo-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  width: 87%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 10%;
}

.neo-title {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #333;
}

.neo-item {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0; 
  text-align: left;
  overflow: hidden;
  height: 450px; 
}

.neo-header {
  display: flex;
  flex-direction: column; 
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.neo-header strong {
  font-size: 1.2em;
  color: #333;
}

.neo-date {
  font-size: 0.9em;
  color: #777;
}

.neo-details {
  line-height: 1.5;
  color: #555;
}

.neo-details p {
  margin: 8px 0;
}

.slick-prev, .slick-next {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7); /* Sfondo traslucido */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slick-prev:before, .slick-next:before {
  font-size: 20px;
  color: #333;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #777;
}

.slick-dots li.slick-active button:before {
  color: #333;
}
@media (max-width: 992px) {
  .neo-container{
    width:85%;
    margin-left:7%;
  }
}

@media (max-width: 769px) {
  .neo-container{
    width:85%;
    margin-left:7%;
  }
  .neo-item {
    margin: 10px 0;
  }

  .neo-title {
    font-size: 1.5em;
  }

  .neo-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .neo-header strong {
    font-size: 1em;
  }

  .neo-date {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .neo-container{
    width:90%;
    margin-left:0;
    
  }

}