@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body {
    background-color: #000000;
    font-family: "Inconsolata", monospace;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /*per scroll orrizzontale*/
    ;
}

.centered-text {
    text-align: center;
    margin: 0 auto;
    max-width: 800px; /* You can adjust the width to your liking */
}

#subtitle {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 10px 0;
    color: #F7F7F7;
}
#image-date {
    position: absolute;
    bottom: 65px; 
    right: 65px;
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px;
    border-radius: 5px;
    color: #F7F7F7;
    font-size: 1em;
}

.options {
    color: #F7F7F7;
}

.options.active {
    color: lightblue;
}

#login-text {
    color: black
}

.loading-text {
    font-size: 1.5em;
    color: #fff;
}

#advanced-intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}


.container-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

#planet-button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    
}

         
#sun-btn {
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 25px;
    display: block;
    border:none;

  }

  #sun-btn:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
 
    
  #moon-btn {
    background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border:none;
    border-radius: 25px;
    display: block;
  }

  #moon-btn:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }

  .btn-planet{
    color:#F7F7F7;
  }
 
  #second-container{
    background-color: #000000;
    height:500px;
}

#footer{
    margin-top:400px;
}