.search-location-form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#search {
    width: 100%;
    height: 25px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #F7F7F7;
    box-sizing: border-box;
    outline: none;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -35px; /* Adjust this value as needed */
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button .fa-search {
    color: black; /* Change the color as needed */
}
