/* Base Styles */
body {
    font-family: "Inconsolata", monospace;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000000;

}
#seeUniverse {
    background-color: #F7F7F7;
    border-radius: 25px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px; 
}

#seeUniverse a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}
/* General Styles */
.centered-text {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

.title {
    font-size: 6rem;
    margin-top: 15%;
}

#subtitle {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 10px 0;
    color: #F7F7F7;
}

#image-date {
    position: absolute;
    bottom: 65px;
    right: 65px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    color: #F7F7F7;
    font-size: 1em;
}

#advanced-intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

#universe-text {
    background: linear-gradient(to right, #ff8a00 0%, #dd4c4f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/*button area*/
.arrow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: #F7F7F7;
    transition: background-color 0.3s ease;
    color: #000;
    text-decoration: none;
}

.arrow-button:hover {
    background-color: #000;
    color: #F7F7F7;
}

.arrow {
    width: 6px;
    height: 6px;
    border-right: 2px solid #C2FFE9;
    border-bottom: 2px solid #C2FFE9;
    transform: rotate(-45deg);
    margin-left: 6px;
    transition: transform 0.3s ease;

}

.arrow-button:hover .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
}

/* Containers */
#second-container,
#third-container,
#four-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    height: 45%;
    background-color: #000000;
}

.data-title {
    font-size: 3rem;
    text-align: center;
    color: #F7F7F7;
}

.event-item {
    flex: 1;
    min-width: 300px;
}

#timeline {
    width: 55%;
}

#natural {
    width: 100%;
}

#mars {
    width: 54%;
}

#objects {
    width: 45%;
    margin-left: 5%;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .title {
        font-size: 6rem;
    }
    #advanced-title{
        text-align: center;
        margin-left: 5%;
    }

    .data-title {
        font-size: 2.5rem;
    }

    #timeline {
        width: 50%;
    }

    #mars {
        width: 60%;
    }

    #objects {
        width: 40%;
    }
}

@media (max-width: 992px) {
    .title {
        font-size: 6rem;
    }
    #advanced-title{
        text-align: center;
        margin-left: 5%;
    }
    #earth{
        margin-left:5%;
    }

    #subtitle {
        font-size: 0.9em;
    }

    .data-title {
        font-size: 2rem;
    }

    #subtitle {
        font-size: 1em;
    }

    #image-date {
        bottom: 30px;
        right: 30px;
        font-size: 0.9em;
    }

    #second-container,
    #third-container,
    #four-container {
        flex-direction: column;
        height: auto;
    }

    #timeline,
    #mars,
    #objects {
        width: 100%;
    }

    #natural {
        width: 100%;
    }
}

@media (max-width: 769px) {
    .title {
        font-size: 6rem;
    }
    #advanced-title{
        text-align: center;
        margin-left: 5%;
    }
    #earth{
        margin-left:5%;
    }

    #subtitle {
        font-size: 0.9em;
    }

    .data-title {
        font-size: 2rem;
    }

    #image-date {
        font-size: 0.8em;
    }

    #second-container,
    #third-container,
    #four-container {
        padding: 10px;
    }

    #timeline,
    #mars,
    #objects {
        width: 100%;
    }

    #natural {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 2rem;
    }

    #subtitle {
        font-size: 0.8em;
    }

    .data-title {
        font-size: 1.5rem;
    }

    #image-date {
        font-size: 0.7em;
    }

    #advanced-intro {
        height: auto;
        padding: 20px;
    }

    #second-container,
    #third-container,
    #four-container {
        padding: 5px;
        flex-direction: column;
        align-items: stretch;
    }

    .event-item {
        min-width: 100%;
        margin-bottom: 10px;
    }

    #timeline,
    #mars,
    #objects {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 3rem;
        text-align: center;
    }
    .data-title{
        text-align: center;
    }
    #timeline{
        display:none;
    }
    #earth{
        margin-left: 0;
    }
}