
/*------------------------------------------FAVORITE PLACES AREA-----------------------------------------*/
.user-places-container{
    width:95%;
    border-radius:25px;
}
.user-places-container ul {
    list-style-type: none;
    padding: 0;
    margin-left:5%

}
#loc-area{
    width:90%;
    border-radius:25px;
    margin-bottom:25px; 
}
#fav-text{
    font-size:3rem;
    margin-left:5%;
}
#fav-insert{
    margin-left:5%;
    border-radius: 25px;
    border:none;
    height: 25px;
    width:250px;
}

.user-places-container li {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 5px 0;
    border-bottom: 3px solid #F7F7F7;
    font-size:2rem;

}

.user-places-container button {
    margin-right:0; 
    padding: 5px 10px; 
    border: none; 
    background-color: blue;
    color: white; 
    border-radius: 3px;
    cursor: pointer; 
    font-size: 14px;
}

.user-places-container button:hover {
    background-color: #d32f2f; 
}

#location{
    font-size:2rem;
    border-radius:25px;
    background-color:#F7F7F7;
    color:#000000;
    margin-left:0


}
#location:hover{
    background-color: blue;
    color:#F7F7F7;
}

.btn-del{
    background-color: #d32f2f;
}
.btn-loc{
    margin-bottom:15px;
    margin-top:15px;
}


@media (max-width: 768px) {
    .user-places-container{
        width:90%;
        border-radius:25px;

    }
    .user-places-container ul {
        margin-left:5px;
    }
    .user-places-container li {
        width:100%;
    
    }
    #loc-area{
        width:95%;
        margin-left:1%;
    }

}

@media (max-width: 481px) {
    
   
    #loc-area{
        width:90%;
        
    }
    #fav-insert{
        width:55%;
    }
    .new-loc{
        margin-left:5%;
        width:35%;
    }

}
