<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29586370547-non65cjck9qvdc63ie22dapsue9j11kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29586370547-non65cjck9qvdc63ie22dapsue9j11kc</string>
	<key>API_KEY</key>
	<string>AIzaSyCFx4RK4E1kxM3riAZedv4Dbv86AeiysYo</string>
	<key>GCM_SENDER_ID</key>
	<string>29586370547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wapaweather.wapa</string>
	<key>PROJECT_ID</key>
	<string>wapa-4ec0a</string>
	<key>STORAGE_BUCKET</key>
	<string>wapa-4ec0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29586370547:ios:5da181f72c99dabd57ec86</string>
	<key>DATABASE_URL</key>
	<string>https://wapa-4ec0a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>